import /init.recovery.microtrust.rc

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

service keymaster-4-1 /system/bin/android.hardware.keymaster@4.1-service.beanpod
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /system/bin/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.0::IKeymasterDevice default
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service thh-2-0 /system/bin/vendor.microtrust.hardware.thh@2.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:vendor.sys.listener.registered=true
    start keymaster-4-1
    start gatekeeper-1-0
    start keymaster_attestation-1-1
    start thh-2-0
   
on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop keymaster-4-1
    stop gatekeeper-1-0
    stop keymaster_attestation-1-1
    stop thh-2-0
    
on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop keymaster-4-1
    stop gatekeeper-1-0
    stop keymaster_attestation-1-1
    stop thh-2-0

on property:twrp.all.users.decrypted=true
    stop teei_daemon
    stop keymaster-4-1
    stop gatekeeper-1-0
    stop keymaster_attestation-1-1
    stop thh-2-0